		<div class="jumbotron d-flex flex-column p-1">
      <div class="row justify-content-center">
  			<h1 class="p-2 justify-content-center">Burgers!</h1><br>
      </div>
      <div class="row justify-content-center">
        <img src="/assets/img/burger.jpg" class="p-2 img-fluid"><br>
      </div>
      <div class="row justify-content-center">
        <p class="p-2">Eat da burgers!</p>
      </div>
		</div>

<div class="container">
<div class="container mt-1 pt-1">
  <div class="row justify-content-center">
  <form class="create-form">
  <h2>Add a Burger</h2>
    <div class="form-group">
      <input type="text" id="burger" name="name">
    <button type="submit" class="btn btn-primary">Add!</button>

    </div>
    <p>Enter a burger you want to eat and click "Add!" button.</p>
  </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      Burgers Not Eaten:
      <ul class="list-group">
        {{#each burgers}}
          {{#unless devoured}}
            <li class="list-group-item">
                {{this.id}}. {{this.burger_name}}
                <button type="button" class="change-devoured btn btn-primary" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
                  Devour!
                </button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      Burgers Eaten:
      <ul class="list-group">
        {{#each burgers}}
          {{#if devoured}}
            <li class="list-group-item">
                {{this.id}}. {{this.burger_name}}
                <button type="button" class="delete-burger btn btn-primary" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
                  Delete!
                </button>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

</div>

{{!-- modal --}}
<div class="modal" id="inputModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">No burger entered!</h5>
      </div>
      <div class="modal-body">
        <p>Enter burger name!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
